{
  "rules": {
    "eol-last": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-trailing-spaces": "error",
    "one-var": ["error", { "initialized": "never" }]
  },
  "parserOptions": {
    "ecmaVersion": 6
  }

}